<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition in Pythoon</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/index.css')}}">
</head>
<body>
    <div id = "speechContainer">
        <h1>Upload new File</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" id="submitButton" value="Transcribe">
        </form>
    </div>
    {% if transcript != "" %}
    <div id="speechTranscriptContainer">
        <h1>Transcript</h1>
        <p id="speechText">{{transcript}}</p>
    </div>
    {% else %}
    <div id="speechTranscriptContainer">
        <h1>Waiting for your transcript</h1>
    </div>
    {% endif %}
</body>
</html>